<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      function deleteOptions(id) {
        // console.log(id);
        fetch(`/options/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
      </div>
    </div>
    <hr>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <nav class="mt-8">
          <ul class="flex">
            <li class="flex-start">
              <a class="text-blue-800" href="/elections">Home</a>
            </li>
            <span class="mx-3 text-blue-800"> >> </span>
            <li class="flex-start">
              <a class="text-blue-800" href="/elections/<%=election.id%>"><%= election.title %></a>
            </li>
            <span class="mx-3 text-blue-800"> > </span>
            <li class="flex-start">
              <a class="text-blue-800" href="/elections/<%=election.id%>/questions">Questions</a>
            </li>
            <span class="mx-3 text-blue-800"> >> </span>
            <li class="flex-auto">
              <a class="text-blue-800" href="/questions/<%=question.id%>"><%= question.question%></a>
            </li>
          </ul>
        </nav>
        <h1 class="text-4xl mt-6 font-bold"><%= question.question %></h1>
        <p class="ml-6 pt-4 text-gray-500 font-medium text-xl"><%= question.description %></p>
        <form class="mt-4" method="post" action="/createOptions">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="questionId" value="<%= question.id %>" />
          <div class="flex">
            <div class="flex-auto">
              <input
                name="options"
                class="border border-gray-300 w-3/4 p-2 text-gray-900 rounded text-lg"
                type="text"
                placeholder="Add options"
              />
              <button
                class="bg-green-600 mx-2 py-2 px-5 text-lg rounded text-white"
                type="submit"
              >
                Add
              </button>
            </div>
          </div>
        </form>

        <div class="mt-4">
          <h5 class="text-xl underline inline-block font-semibold">
            Answer Options
          </h5>

          <ul class="list-none pt-4">
            <% for(var i = 0; i < getOptions.length; i++){%>
            <li class="pt-2 text-lg">
              <div class="flex">
                <div class="flex-auto">
                  <div class="flex">
                    <div class="flex-start pr-4">
                      <p><%= i+1 %>.</p>
                    </div>
                    <div class="flex-auto">
                      <p><%= getOptions[i].options %></p>
                    </div>
                  </div>
                </div>
                <div class="flex-end px-8">
                  <p class="pb-4 underline">
                    <a class="text-blue-600" href="/question/<%= question.id%>/editOption/<%=getOptions[i].id%>">Edit</a>
                  </p>
                </div>
                <div class="flex-end">
                  <p class="pb-4 underline">
                    <a
                      class="text-blue-600"
                      href="#"
                      onclick="{deleteOptions(<%= getOptions[i].id %>)}"
                      >Delete</a
                    >
                  </p>
                </div>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
