<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      
      function deleteQuestion(id) {
        fetch(`/question/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
      </div>
    </div>
    <hr>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <nav class="mt-8">
          <ul class="flex">
            <li class="flex-start">
              <a class="text-blue-800" href="/elections">Home</a>
            </li>
            <span class="mx-3 text-blue-800"> >> </span>
            <li class="flex-start">
              <a class="text-blue-800" href="/elections/<%= election.id%>"><%= election.title%></a>
            </li>
            <span class="mx-3 text-blue-800"> >> </span>
            <li class="flex-start">
              <a class="text-blue-800" href="/questions/<%= question.id%>">Options</a>
            </li>
            <span class="mx-3 text-blue-800"> >> </span>
            <li class="flex-start">
              <a class="text-blue-800" href="/elections/<%= election.id%>/questions/edit">Edit</a>
            </li>
          </ul>
        </nav>
        <h1 class="text-4xl mt-6 font-bold">Update Option</h1>
        <form action="/updateOptions/<%=option.id%>" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="pt-8">
              <div>
                <label for="option" class="text-xl">Option: </label>
                <input
                  type="text"
                  name="option"
                  class="border rounded p-2 border-gray-300 text-gray-900 w-full"
                  value="<%= option.options%>"
                />
              </div>
            </div>
            <div class="py-3 mt-4">
              <button
                type="submit"
                class="text-white bg-green-600 px-5 py-3 font-medium rounded hover:bg-green-800"
              >
                Update
              </button>
            </div>
          </form>
          <div class="mt-6">
            <% if(messages && messages.alert && messages.alert.length > 0)  { %>
              <% for(var i=0; i<messages.alert.length; i++) { %>
                <div id="alert-msg" class="p-4 mb-4 text-sm text-blue-800 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400 fade-out" role="alert">
                  <%= messages.alert[i] %>
                </div>
              <% } %>
            <% } %>
          </div>
      </div>
    </div>
  </body>
</html>
