<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <nav>
          <ul class="flex">
            <li class="flex-start">
              <a href="/elections">Home</a>
            </li>
            <span class="mx-3"> >> </span>
            <li class="flex-start">
              <a href="/elections/<%=election.id%>"><%= election.title %></a>
            </li>
          </ul>
        </nav>
        <h1 class="text-4xl mt-6 font-bold"><%= election.title %></h1>
        <p class="mt-6 text-lg">
          This election has been launched, and voters can access this URL:
        </p>
        <p class="underline mt-4">
          <a class="text-blue-600" href="/elections/<%= election.id %>/vote"
            >URL will be generated here.</a
          >
        </p>
        <% if(questions.length == 0){%>
        <p class="mt-6 text-lg">You haven't created any questions yet!</p>
        <%}else{%>
        <p class="mt-6 text-lg">
          You have created <%= questions.length%> questions in the ballot.
        </p>
        <%}%> <% if(voters.length == 0){%>
        <p class="mt-6 text-lg">You haven't added any voters.</p>
        <%}else{%>
        <p class="mt-6 text-lg">
          Your election has <%= voters.length%> voters.
        </p>
        <%}%>

        <p class="my-6 underline">
          <a class="text-blue-600" href="/elections/<%= election.id %>/voters">
            Manage Voters
          </a>
        </p>
        <p class="my-6 underline">
          <a
            class="text-blue-600"
            href="/elections/<%= election.id %>/previewResults"
            >Preview Results</a
          >
        </p>
        <p class="my-6 underline">
          <a class="text-blue-600" href="/elections/<%= election.id%>" onclick="{launchElection(<%=election.id%>)}"
            >End election</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
