<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <script src="/js/index.js"></script>
    <script>
      
      var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");

      function launchElection(electionId){
        fetch(`/elections/${electionId}/launch`,{
          method: "put",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({
            "_csrf": token,
            presentStatus: "Launched"
          })
        }).then((res) =>{
          if(res.ok){
            console.log("this is res")
            console.log(res);
            window.location.href(`/elections/${electionId}`);
          }
        })
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
      </div>
    </div>
    <hr>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <nav class="mt-8">
          <ul class="flex">
            <li class="flex-start">
              <a class="text-blue-800" href="/elections">Home</a>
            </li>
            <span class="mx-3 text-blue-800"> >> </span>
            <li class="flex-start">
              <a class="text-blue-800" href="/elections/<%=election.id%>"><%= election.title %></a>
            </li>
          </ul>
        </nav>
        <div>

        <h1 class="text-4xl mt-6 font-bold"><%= election.title %></h1>
        <p class="underline mt-4">
          <a
            class="text-blue-600"
            href="/elections/<%= election.id %>/questions"
            >Manage Questions</a
          >
        </p>
        <% if(questions.length == 0){%>
        <p class="py-4">You haven't created any elections yet!</p>
        <%}else{%>
        <p class="py-4">
          You have created <%= questions.length%> questions in the ballot.
        </p>
        <%}%>
        <p class="pb-4 underline">
          <a class="text-blue-600" href="/elections/<%= election.id %>/voters"
            >Manage Voters</a
          >
        </p>
        <p class="underline">
          <!-- <a class="text-blue-600" href="/elections/<%= election.id%>" onclick="{launchElection(<%=election.id%>)}">
            Launch election</a
          > -->
          <a class="text-blue-600" href="/elections/<%= election.id%>/previewBallot">
            Launch election</a
          >
        </p>
        </div>
        <div class="mt-8">
          <% if(messages && messages.alert && messages.alert.length > 0)  { %>
            <% for(var i=0; i<messages.alert.length; i++) { %>
              <div id="alert-msg" class="p-4 mb-4 text-sm text-blue-800 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400 fade-out" role="alert">
                <%= messages.alert[i] %>
              </div>
            <% } %>
          <% } %>
        </div>
        <!-- Need to add request flash message here  -->
      </div>
    </div>
  </body>
</html>
